   ul li {list-style: none; cursor: pointer;}
    li.smart_autocomplete_highlight {background-color: #C1CE84;}
    ul.smart_autocomplete_container  { margin: 10px 0; padding: 5px; background-color: #E3EBBC; }